<h1>What do you want to do?</h1>

<table>
  <tr>
    <th>Activity</th>
    <% #<th>Tags</th>%>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.activity %></td>
    <% #<td><%= entry.tags</td> %>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<hr noshade size=7>

<% #= link_to 'New Entry', new_entry_path %>
